<footer>
  <div class="footer padding-x">
    <img src="assets/logo.png" width="134px" height="50px" alt="rick&morty">
    <div class="wrapper">
      <div class="menu-list">
        <span class="menu-header">
          Menu
        </span>

        <a class="menu-item">
          Home
        </a>

        <a class="menu-item">
          Characters
        </a>

        <a class="menu-item">
          Episodes
        </a>

        <a class="menu-item">
          Locations
        </a>
      </div>

      <div class="menu-list">
        <span class="menu-header">
          Links
        </span>

        <a class="menu-item">
          Rick & Morty Api
        </a>

        <a class="menu-item">
          Adult swim
        </a>
      </div>

      <div class="footer-img-container">
        <img src="assets/footer_logo.png" width="300" height="180" class="morty-footer">
      </div>
    </div>
  </div>

  <div class="text-sub-label">
    Christopher Gerardy Andrade Lazcano - Fullstack developer
  </div>
</footer>
